h1 {
  font-family: Lobster;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.barvicka p {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-family: sans-serif;
  line-height: 1.6;
}

.kontejner {
  width: 350px;
  height: 800px;
}

.barvicka {
  background-color: #283e50;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}

img {
  width: 350px;
  border-radius: 20px 20px 0 0;
  margin-bottom: -5px;
}

ul {
  padding-inline-start: 0;
}

li {
  width: 100%;
  text-align: center;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  padding: 15px 0 15px 0;
  display: inline-block;
}

.pravidla a,
.zacit-hrat a {
}

.pravidla {
  background-color: #1fcca4;
  width: 100%;
  margin-bottom: 1.5px;
}

.pravidla a:focus,
.pravidla a:hover {
  background-color: #1cbb96;
  width: 100%;
}

.zacit-hrat {
  background-color: #0197f6;
}

.zacit-hrat a:focus,
.zacit-hrat a:hover {
  background-color: #0090e9;
  width: 100%;
}
